<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Contratista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Eliminar Contratista</h1>
        <p>¿Estás seguro de que deseas eliminar a {{ contratista.nombre }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</body>
</html>